@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');

/* General */
* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

/* Transitions */

/* Desktop Navigation */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.25rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: black;
}

.logo {
    font-size: 1.25rem;
}

.logo:hover {
    cursor: default;
}